



 <!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Title Modal</span></button>
                <h4 class="modal-title" id="myModalLabel">Ayuda y soporte </h4>
            </div>
            <div class="modal-body">
              <center><p>Indice</p></center>
              <br>
Nuevo usuario--------------------------------------------------------------------1<br>
Ingreso---------------------------------------------------------------------------2<br>
Después de ingresar-----------------------------------------------------------3<br>
Usuario registrado--------------------------------------------------------------4<br>
Agregar tipo de elemente-----------------------------------------------------5<br>
Crear tipo de elemento--------------------------------------------------------6<br>
Eliminar tipo de elemento----------------------------------------------------7<br>
Después de crear tipo de elemento------------------------------------—8<br>
Registro de personas----------------------------------------------------------9<br>
Ingresar o registrar nueva persona--------------------------------------10<br>
Estudiante ya creado----------------------------------------------------------11<br><br><br>
              
              <b>1. Nuevo Usuario.<b/>
                <br><br>
                <div>
             
              <center><img src="assets/RegistoUsuarioNuevo.png"   width="500px" height="222px" alt="Texto Alternativo"></center>
                <br>
                Para ingresar debe  tener un usuario y una contraseña,    el administrador creara un usuario con su correspondiente contraseña, ( A este proceso solo tendrá acceso el administrador del programa).
                </div>
                <br> <br><br>
          
                 <b>2. Ingreso.<b/><br><br>
             
              <center><img src="assets/Logueo.png"   width="500px" height="222px" alt="Texto Alternativo"></center>
                   <br>
                   Teniendo creado el usuario con su correspondiente contraseña,  se procede a ingresar con sus datos correspondientes.
                   <br><br>    <br>
                   
                    <b>3. Despues de Ingresar.<b/><br><br>
             
              <center><img src="assets/Registro.png"   width="500px" height="222px" alt="Texto Alternativo"></center>
                      <br>
                      después de ingresar con sus datos tendrá la opción de cambiar el  Correo y / o Contraseña,  
                      
                          <br>    <br>    <br>
                      
                     <b>4. Usuario Registrado.<b/><br><br>
             
              <center><img src="assets/UsuarioRegistrado.png"   width="500px" height="222px" alt="Texto Alternativo"></center>
                       <br>
                       Al ingresar después de estar registrado, podrá ver los usuarios en la base de datos ya ingresados anteriormente.
                           <br>    <br>    <br>
                      
                       <b>5. Agregar Tipo de Elemento.<b/><br><br>
             
              <center><img src="assets/NuevoTipoElemento.png"   width="500px" height="222px" alt="Texto Alternativo"></center>
                      <br>
                         Al dar clic al botón que dice agregar tipo de elemento,  podrá acceder a agregar un elemento nuevo a la lista (computador, mouse, teclado, mobiliario, entre otros).
                           <br>    <br>    <br>
                         <b>6. Crear Tipo de Elemento.<b/><br><br>
             
              <center><img src="assets/ListaElemnentos.png"   width="500px" height="222px" alt="Texto Alternativo"></center>
                      <br>
                           Después de darle clic al botón crear tipo de elemento accederá a  llenar los datos correspondientes: Nombre del elemento que se desea agregar a la categoría, Descripción del elemento (este es opcional),  elegir una imagen y después  le dará clic a crear y automáticamente  guardará.
                             <br>    <br>    <br>
                           <b>7. Eliminar Tipo de Elemento.<b/><br><br>
             
              <center><img src="assets/Eliminar.png"   width="500px" height="222px" alt="Texto Alternativo"></center>
                      <br>
                             Después de crear el tipo de elemento, vera en pantalla la vista de confirmación, si usted desea eliminar el elemento lo puede hacer y  verá un mensaje de alerta  confirmando su eliminación.
                                 <br>    <br>    <br>
                             <b>8. Despues de Crear Tipo de Elemento.<b/><br><br>
             
              <center><img src="assets/CrearElemento.png"   width="500px" height="222px" alt="Texto Alternativo"></center>
                      <br>
                          Usted puede editar, eliminar e incluso cambiar la imagen.     
                                 <br>    <br>    <br>
                             <b>9. Registro de Personas.<b/><br><br>
             
              <center><img src="assets/NuevoRegistro.png"   width="500px" height="222px" alt="Texto Alternativo"></center>
                      <br>
                               Al dar clic al botón nuevo,  usted puede  acceder al  formulario para registrar un usuario nuevo.
                                   <br>    <br>    <br>
                               <b>10. Ingresar o Registrar Nueva Persona.<b/><br><br>
             
              <center><img src="assets/RegistoUsuarioNuevo.png"   width="500px" height="222px" alt="Texto Alternativo"></center>
                      <br>
                        Datos los cuales tendrá que diligenciar obligatoriamente para  crear el registro del nuevo aprendiz(a), esto lo debe hacer el  administrador del programa o la persona autorizada por el administrador. 
                                     <br>    <br>    <br>
                                 <b>11. Estudiante ya Creado.<b/><br><br>
             
              <center><img src="assets/Registro.png"   width="500px" height="222px" alt="Texto Alternativo"></center>
                      <br>
                             Al crear un estudiante tendrá el acceso de  editar sus datos y /o eliminarlo de la base de datos
                                 
                                     <br>    <br>    <br>
                      <!-- boton imprimir -->
                                   <center><p>Descargar e Imprimir en pdf</p></center>
                    
                                     <br>
                                     
 <center>  <input type=image src="assets/impresora.jpg" width="200" height="125"  value="imprimir" onclick="window.open('assets/AyudaSoporte.pdf')"></center>
     <div>                              
                                   

            </div>
        
    
